.multiplier {
  display: block;
  padding: 8px 0;
}
.multiplierInput {
  margin: 0 8px;
}

.recipeButton {
  margin-right: 8px;
}

.buttonSection {
  margin-bottom: 24px;
}

.recipeImage {
  width: min(400px, 90vw);
  margin: 16px 0;
}
