.algSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.algDescription {
  max-width: 300px;
  width: calc(49% - 16px);
  background-color: lightgrey;
  margin: 0 8px 8px;
  padding: 0 4px;
  font-weight: bold;
}

.algMoves {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 4px;
  margin-bottom: 8px;
}

.algImgCont {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.hidden {
  visibility: hidden;
}
.jumpTo {
  display: flex;
  flex-wrap: wrap;
}
.jumpToHeading {
  padding: 12px 4px;
  display: flex;
  min-width: 33%;
  @media screen and (min-width: 480px) {
    min-width: 20%;
  }
}

html,
body {
  font-family: sans-serif;
}
