.navLink {
  display: flex;
  padding: 0 10px;
  white-space: nowrap;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 90vw;
  justify-content: center;
}
